<!doctype html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ローカルのBootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>{{ title }}</title>
</head>
<body>
  <!-- nav bar -->
 {% include "navbar.njk" %}

  <!-- コンテンツ -->
  {{ content | safe }}

  <!-- ローカルのBootstrap JS -->
  <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>
