<!doctype html>
<html lang="ja">
<head>
  <!-- ローカルのBootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>{{ title }}</title>
</head>
<body>
  <!-- nav bar -->
  <nav class="navbar bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">たつみ農園</a>
    </div>
  </nav>
  <!-- コンテンツ -->
  {{ content | safe }}

  <!-- ローカルのBootstrap JS -->
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
