<!doctype html>
<html lang="ja">
<head>
  <!-- ローカルのBootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>{{ title }}</title>
</head>
<body>
  <!-- コンテンツ -->
  {{ content | safe }}

  <!-- ローカルのBootstrap JS -->
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
